<!doctype html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <title>Angular Intro</title>
    <!-- Add Angular CDN below -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body>
<div ng-init="myVar='Katsurio'">{{ myVar }}</div>
<div ng-init="carArray=['Mini Cooper','Subaru Outback','Audi A6','Volvo XC90','Tesla Model S']">
    <ul>
        <li ng-repeat='names in carArray'>{{ names }}</li>
</div>
<div>
    <input type="text" ng-model="myInput">
    <p>{{myInput}}</p>
</div>
</body>
</html>
